@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .no-scrollbar::-webkit-scrollbar {
            display: none;  /* Chrome, Safari and Opera */
        }

        .no-scrollbar {
            -ms-overflow-style: none;   /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }
}