:root {
    --red-color: #dc2626
}

/* Progress Bar */
/* Circle slider of progress bar */
#progress-bar::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    background-color: var(--red-color);
    border: 2px solid var(--red-color);
    border-radius: 50%;
    appearance: none;
}

#progress-bar::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background-color: var(--red-color);
    border: 2px solid var(--red-color);
    border-radius: 50%;
    appearance: none;
}

#progress-bar::-ms-thumb {
    width: 12px;
    height: 12px;
    background-color: var(--red-color);
    border: 2px solid var(--red-color);
    border-radius: 50%;
    appearance: none;
}

/* Left completed portion of progress bar */
#progress-bar::-moz-range-progress {
    width: 8px;
    height: 8px;
    background-color: var(--red-color);
    appearance: none;
}

#progress-bar::-webkit-progress-value {
    width: 8px;
    height: 8px;
    background-color: var(--red-color);
    appearance: none;
}

#progress-bar::-ms-fill-lower {
    width: 8px;
    height: 8px;
    background-color: var(--red-color);
    appearance: none;
}

/* Volume Bar */
/* Circle slider of volume bar */
#volume-bar::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    background-color: #0f172a;
    border: 2px solid #778da9;
    border-radius: 50%;
    appearance: none;
}

#volume-bar::-moz-range-thumb {
    
    width: 12px;
    height: 12px;
    background-color: #0f172a;
    border: 2px solid #778da9;
    border-radius: 50%;
    appearance: none;
}

#volume-bar::-ms-thumb {
    width: 12px;
    height: 12px;
    background-color: #0f172a;
    border: 2px solid #778da9;
    border-radius: 50%;
    appearance: none;
}

/* Left completed portion of volume bar */
#volume-bar::-moz-range-progress {
    width: 8px;
    height: 8px;
    background-color: #415a77;
    appearance: none;
    border-radius: 18px;
}

#volume-bar::-webkit-progress-value {
    width: 8px;
    height: 8px;
    background-color: #415a77;
    appearance: none;
    border-radius: 18px;
}

#volume-bar::-ms-fill-lower {
    width: 8px;
    height: 8px;
    background-color: #415a77;
    appearance: none;
    border-radius: 18px;
}


/* Right remaining portion of volume bar */
#volume-bar::-moz-range-track {
    height: 8px;
    background-color: #1b263b;
    border-radius: 18px;
}

#volume-bar::-webkit-progress-value {
    height: 8px;
    background-color: #2b2d42;
    border-radius: 18px;
}

/* Animation for music player */
@keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
}

.slide-up-container {
    animation: slideUp 0.3s ease-in-out;
}

@keyframes slideDown {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
}

.slide-down-container {
    animation: slideDown 0.3s ease-in-out;
}