:root {
    --red-color: #dc2626
}

#progress-bar::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    background-color: var(--red-color);
    border: 2px solid var(--red-color);
    border-radius: 50%;
    appearance: none;
}

#progress-bar::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background-color: var(--red-color);
    border: 2px solid var(--red-color);
    border-radius: 50%;
    appearance: none;
}

#progress-bar::-ms-thumb {
    width: 12px;
    height: 12px;
    background-color: var(--red-color);
    border: 2px solid var(--red-color);
    border-radius: 50%;
    appearance: none;
}

#progress-bar::-moz-range-progress {
    width: 8px;
    height: 8px;
    background-color: var(--red-color);
    appearance: none;
}

#progress-bar::-webkit-progress-value {
    width: 8px;
    height: 8px;
    background-color: var(--red-color);
    appearance: none;
}

#progress-bar::-ms-fill-lower {
    width: 8px;
    height: 8px;
    background-color: var(--red-color);
    appearance: none;
}